target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar
.idea/libraries/Maven__org_javassist_javassist_3_21_0_GA.xml
.idea/libraries/Maven__org_jsoup_jsoup_1_10_2.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_1_4_2_RELEASE.xml
.idea/workspace.xml
.idea/*
