<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"
          rel="stylesheet"
    />
    <link href="../static/css/custom.css"
          th:href="@{css/custom.css}"
          rel="stylesheet"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
    />
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-inverse">
    <div class="container-header">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Ethereum</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a id="account" th:href="@{/accounts}">Account</a></li>
            <li><a id="transaction" th:href="@{/transaction}">Transaction</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1 class="post-title">Account List</h1>
    <div id="resultBox">
        <div th:replace="result :: getAccounts" th:fragment = "result"></div>
    </div>

    <h1 class="post-title">Create Account</h1>
    <div style="padding-left: 7%">
        <button type="button"   class="btn btn-success"  data-toggle="modal" data-target="#createAccountmodal">
            <i style=" padding-right:10px" class="fa fa-plus-square"></i>  注册</button>
    </div>
    <div class="modal fade" id="createAccountmodal" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-sm vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p><font  size="5">Create Account</font></p>
                    </div>
                    <form name="registerForm" style="padding-up:20px" enctype="text/plain" >
                        <div class="modal-body">
                            <input required="required" type="text" id="password_input" name="password_input" placeholder="Enter password"  />

                            <br />
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button id="register" data-dismiss="modal" class="btn btn-success pull-right ">
                            <i style=" padding-right:10px" class="fa fa-plus-square"></i>注册
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <br />
    <br />
</body>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="../static/js/my.js" th:src="@{js/my.js}"></script>
<script type="text/javascript">
     $('#register').click(function(event) {
        　　event.preventDefault();

            if($('#password_input').val() == ''){
                    alert("密码不能为空");
                    console.log(123123);
            }
            else{
            　　var paramUrl = "/createAccount"+ '?'+$('form[name="registerForm"]').serialize();
                console.log(paramUrl);
            　　$.ajax({
            　　　　type : "GET",
            　　　　url : paramUrl,
            　　　　dataType : "html",
            　　　　success : function(data, status, xhr) {
            　　　　　　$('#resultBox').html(data);
                        console.log('success');
                            console.log(data);
            　　　　},
            　　　　error : function(XMLHttpRequest, status, errorThrown) {
            　　　　}
            　　});
            }
        });

</script>
</html>
