<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"
          rel="stylesheet"
    />
    <link href="../static/css/custom.css"
          th:href="@{css/custom.css}"
          rel="stylesheet"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
    />
</head>
<body>

<div th:fragment="getAccounts" >
    <div  class="container">
        <h1 class="post-title">Account List</h1>
        <br></br>
        <div  th:each ="accounts:${AllAccount}" class="account-parent">
            <div th:each="account:${accounts}" class="account-element">
                <!--th:href="@{|/getAccount/${account.index}|}"-->
                <a  style="inline-block color:black; text-decoration:none;"  data-toggle="modal" data-target="#myModal">
                    <div class="account-left">
                        <img th:src="@{..//1.png}" class="img-circle" alt="Circle" width="50" height="50"/>
                    </div>
                    <div class="account-right">
                        <span th:text="'index: '+${account.index}"></span>
                        <div class="account-address" th:text="${account.balance}+'wei'"></div>
                        <div class="account-address" th:text="${account.address}"></div>
                    </div>
                </a>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="vertical-alignment-helper">
                        <div class="modal-dialog modal-lg vertical-align-center">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <p><font th:text="'index:  '+${account.index}" size="5"></font></p>
                                </div>
                                <div class="modal-body">
                                    <p><font th:text="'balance:  '+${account.balance}" size="4"></font><font size="2">wei</font></p>
                                    <p><font  th:text="'address:  '+${account.address}" size="4"></font></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="container">
        <h1 class="post-title">Create Account</h1>
        <div style="padding-left: 7%">
            <button type="button"   class="btn btn-success"  data-toggle="modal" data-target="#createAccountmodal">
            <i style=" padding-right:10px" class="fa fa-plus-square"></i>  注册</button>
        </div>
        <div class="modal fade" id="createAccountmodal" role="dialog">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog modal-sm vertical-align-center">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <p><font  size="5">Create Account</font></p>
                        </div>
                        <form style="padding-up:20px"  enctype="text/plain">
                            <div class="modal-body">
                                <input type="text" id="password_input" name="password_input" placeholder="Enter password" required="required" />
                            </div>
                            <div class="modal-footer">
                                <button type="button"  data-dismiss="modal" onclick="createAccount()"
                                        class="btn btn-success pull-right " >
                                    <i class="fa fa-plus-square"></i>注册</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br/>

    </div>

</div>
<div th:fragment="getAccountsError" th:if="${TYPE}==false" style="width:200px padding-right: 300px; padding-left: 60px;">
    <div style="text-align: center" class="alert alert-danger alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> This alert box could indicate a dangerous or potentially negative action.
    </div>
</div>

</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="../static/js/my.js" th:src="@{js/my.js}"></script>
</html>
