<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
<div th:fragment="footer">
    <br />
       <footer class="mdl-mini-footer" style="padding-bottom:-20px;">
        <div class="mdl-mini-footer__right-section">
            <div class="mdl-logo">@BJUT BlockChain Group</div>
            <ul class="mdl-mini-footer__link-list">
                <li><a href="#">Contract us</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </footer>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="../static/js/material.min.js" th:src="@{js/material.min.js}"></script>
</html>

